@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	border-style: none;
	border-color: #000000;
	background: #D3D3D3 url("../images/skin_side_up-page-fr.png") repeat center center;
	background-color: rgba(0, 0, 0, 0.17);
}

#u105
{
	z-index: 2;
	width: 380px;
}

#u113-4
{
	z-index: 4;
	margin-bottom: -5px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 7px;
}

#pu118
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 4px;
	position: relative;
}

#u118
{
	z-index: 12;
	width: 145px;
	height: 132px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u119
{
	z-index: 13;
	width: 218px;
	height: 132px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#ppu121
{
	width: 0.01px;
	margin-left: 6px;
	margin-top: 5px;
	position: relative;
}

#pu121
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u121
{
	z-index: 15;
	width: 214px;
	height: 132px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#pu122
{
	width: 0.01px;
	margin-top: 6px;
	position: relative;
}

#u122
{
	z-index: 16;
	width: 85px;
	height: 138px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u123
{
	z-index: 17;
	width: 124px;
	height: 138px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u120
{
	z-index: 14;
	width: 149px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 219px;
}

#u106
{
	z-index: 3;
	width: 380px;
	padding-bottom: 23px;
	margin-top: 11px;
}

#u117-4
{
	z-index: 8;
	width: 321px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 31px;
}

#page .verticalspacer
{
	clear: both;
}

