#u105
{
	border-style: none;
	border-color: transparent;
	background-color: #EDE9E5;
	background-color: rgba(96, 56, 19, 0.11);
	position: relative;
	-pie-background: rgba(96, 56, 19, 0.11);
}

#u113-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#u106
{
	border-style: none;
	border-color: transparent;
	background-color: #CDC1B5;
	background-color: rgba(96, 56, 19, 0.31);
	position: relative;
	-pie-background: rgba(96, 56, 19, 0.31);
}

#u117-4
{
	color: #C7B299;
	position: relative;
}

