@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	border-style: none;
	border-color: #000000;
	background: #D3D3D3 url("../images/skin_side_up-page-fr.png") repeat center center;
	background-color: rgba(0, 0, 0, 0.17);
}

#u105
{
	z-index: 2;
	width: 380px;
}

#u113-4
{
	z-index: 4;
	margin-bottom: -5px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 7px;
}

#u132
{
	z-index: 12;
	width: 331px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 8px;
	margin-top: 10px;
	position: relative;
	padding: 38px 14px 15px 16px;
}

#u137-10
{
	z-index: 17;
	width: 329px;
	min-height: 287px;
	border-width: 1px;
	border-style: solid;
	border-color: #C69C6D;
	background-color: transparent;
	position: relative;
}

#u136-4
{
	z-index: 13;
	width: 330px;
	min-height: 48px;
	border-style: none;
	border-color: transparent;
	background-color: #754C24;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	margin-top: 18px;
	position: relative;
}

#u106
{
	z-index: 3;
	width: 380px;
	padding-bottom: 23px;
	margin-top: 8px;
}

#u117-4
{
	z-index: 8;
	width: 321px;
	margin-right: -10000px;
	margin-top: 31px;
	left: 31px;
}

#page .verticalspacer
{
	clear: both;
}

